.Form__form {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 24px;
    max-width: 300px;
    text-align: center;
  }
  
  .Form__label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .Form__input[type="text"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  .Form__input[type="tel"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  .Form__button {
    display: block;
    width: 40%;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: inline-block;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset,
      rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
    outline: none;
    position: relative;
    background: #0099FF;
    border: none;
    z-index: 1;
    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #2ba2cd;
      border-radius: 5px;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }
    &:hover {
      color: #000;
      background: green;
  }
}
